<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a href="#" class="navbar-brand">RecipeApp</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcontent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Recipes</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">ShoppingList</a>
            </li>
        </ul>
    </div>
</nav>